@use 'header';
@use 'variaveis';
@use 'hero';
@use 'movies';
@use 'curiosities';
@use 'watch';
@use 'footer';

@font-face {
    font-family: 'Bebas Neue';
    src: url('../../assets/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Transformers Movie';
    src: url('../../assets/Transformers\ Movie.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text ($fontSize: 12px) {
    font-size: $fontSize;
}

@mixin title ($fontSize: 32px) {
    font-size: $fontSize;
}

@mixin links ($fontSize: 24px) {
    font-size: $fontSize;
    text-decoration: none;
    color: variaveis.$corLinks;
}

.text--big {
    @include text (16px);
    font-family: 'bebas neue';
}

.text {
    @include text;
}

.links-text {
    @include links;

    &:hover {
        color: variaveis.$corLinksHover;
    }
}

.title--big {
    @include title (48px);
    font-family: 'bebas neue';
}

.title {
    @include title;
    
}

.title--small {
    @include title (24px);
    font-family: 'bebas neue';
}