$corDeFundo: #202431;

$corDeFundoSecundario: rgb(241, 234, 234);

$corLinks: silver;
$corLinksHover: rgb(120, 125, 129);


$corTextoPrincipal: #fff;

$corTituloPrincipal: #7982ed;
$corTituloSecundario: #d91414;